@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: #f4413a;
  color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-size: 14px;
  background: #151935;
  color: #6a7086;
  tab-size: 2;
}

button {
  padding: 0;
  border: 0;
  outline: 0 !important;
  cursor: pointer;
}

/* LAYOUT */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  font-size: 12px;
  /*max-height: 100px;*/
  min-height: 80px;
  /* maybe padding */
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  min-height: 80px;
}


/* EDITOR */

.monaco-editor, .margin, .monaco-editor-background {
  background-color: transparent !important;
}

.decorationsOverviewRuler {
  display: none;
}

.minimap canvas {
  display: none;
}

.scroll-decoration {
  width: 100% !important;
}

.current-line {
  background: #0d1024;
  border: 0 !important;
}

.line-numbers {
  color: #6a7086 !important;
}

.slider {
  width: 8px !important;
}

.scrollbar {
  width: 8px !important;
}

.slider {
  opacity: .3;
}

.overflow-guard, .monaco-editor {
  height: 100% !important;
}

.react-monaco-editor-container {
  overflow: hidden;
  padding-bottom: 25px;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(121, 121, 121, .13);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(121, 121, 121, .18);
}